In [2]:
import zipfile

In [3]:
with zipfile.ZipFile('train.tsv.zip','r') as zipref:
    zipref.extractall('./')

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('train.tsv',sep='\t')

In [14]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [15]:
len(df)

156060

In [16]:
df.drop_duplicates(subset="SentenceId",keep='first',inplace=True)

In [17]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
63,64,2,"This quiet , introspective and entertaining in...",4
81,82,3,"Even fans of Ismail Merchant 's work , I suspe...",1
116,117,4,A positively thrilling combination of ethnogra...,3
156,157,5,Aggressive self-glorification and a manipulati...,1

In [18]:
len(df)

8529